<h2 class="title is-2">Top Soptify Songs From 2010 - 2019</h2>

<ul class="ml-4">
  <% @songs.each do |song| %>
    <li><%= link_to song.title, song %> By <%= song.artist.name %></li>
  <% end %>
</ul>
<%= paginate @songs %>
