<h2>About</h2>

<p>
The data I am using, is the top spotify songs from 2010-2019. It is all in one CSV file and it
has 603 songs spread across 14 columns. The data in the csv file is pulled from the spotify api.
I am going to use three tables, songs, artists, and genres. There will be two one to many relationsips
between the tables.
</p>

<%= image_tag("DataProjectERD.PNG") %>
